In [ ]:
Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.
A-1 > Select RTRIM(FIRST_NAME) From Worker.
Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.
A-2 >  Select Distinct DEPARTMENT , LENGTH(DEPARTMENT ) as Dept_Length from Worker
Q-3. Write an SQL query to fetch nth max salaries from a table.
A-3 > 
	SELECT TOP 1 Salary FROM ( SELECT DISTINCT TOP nth Salary  FROM employee ORDER BY Salary DESC ) a ORDER BY salary