In [ ]:
Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias name as <WORKER_NAME>.
A-1 >  Select FIRST_NAME as WORKER_NAME from Worker.
Q-2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.
A-2 > Select Distinct * From DEPARTMENT 
Q-3. Write an SQL query to show the last 5 record from a table.
A-3 > Select * into #temp from Table order by desc; 
	Select top 5 from #temp
	Drop #temp