In [ ]:
Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.
A-1 > SELECT ename,sal from Employee e1 where 5-1 = (SELECT COUNT(DISTINCT sal)from Employee e2 where e2.sal > e1.sal)
Q-20. Write an SQL query to fetch the list of employees with the same salary.
A-2 > SELECT s1.Name, s1.Station, s1.Salary
FROM employees s1
INNER JOIN employees s2 ON s1.Salary = s2.Salary AND s1.Name <> s2.Name