In [ ]:
Q-13. Write an SQL query to show only odd rows from a table.
A-1 > 
SELECT t.First, t.Last
FROM (
    SELECT *, Row_Number() OVER(ORDER BY First, Last) AS RowNumber 
    FROM Table1
) t
WHERE t.RowNumber % 2 = 0 --Even

Q-14. Write an SQL query to clone a new table from another table.
A-2 > Create Table New_Table Select * From Orignal_Table