In [ ]:
Q-17.  Write an SQL query to show the top n (say 10) records of a table.
A-1 > Select Top 10 * From Table

Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.
A-2 > 
Declare @Salary as int , @HighSal as int
Select Top 5 * into #temp From Employee
Set @HighSal = (Select Max(Salary) From Employee)
Set @Salary = (Select Top 1 From #temp order by desc)
If @Salary = @HighSal	
Begin
Print(â€œnth is the highest salary)
End