In [1]:
#1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

test1 = 'This is a test of the emergency text system'
with open('test1.txt','w') as w:
    w.writelines(test1)

In [2]:
#2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

with open('test1.txt','r') as r:
    test2 = r.read()

test2

'This is a test of the emergency text system'

In [3]:
#3. Create a CSV file called books.csv by using these lines:
'''
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
'''

text = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
'''
with open('Books.csv','wt',encoding='utf-8') as w:
    for i in text:
        w.write(i)
print('done')

done

In [4]:
!pip install sqlite3
#4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3

In [5]:
import sqlite3
con = sqlite3.connect('books.db')

cur = con.cursor()

cur.execute('create table books(title text,author text,year int)')

OperationalError: table books already exists

In [6]:
con.commit()

In [7]:
#5. Read books.csv and insert its data into the book table

import csv
with open('Books.csv','r') as data:
    next(data)
    csv_data = csv.reader(data)
    for i in csv_data:
        cur.execute('insert into books values(?,?,?)',i)
print('data loaded successfully')

con.commit()

data loaded successfully

In [8]:
#6. Select and print the title column from the book table in alphabetical order.

for i in (cur.execute('select title from books order by title asc')):
    print(i)

('Perdido Street Station',)
('Perdido Street Station',)
('Perdido Street Station',)
('Small Gods',)
('Small Gods',)
('Small Gods',)
('The Spellman Files',)
('The Spellman Files',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('The Weirdstone of Brisingamen',)
('The Weirdstone of Brisingamen',)
('Thud!',)
('Thud!',)
('Thud!',)

In [9]:
#7. From the book table, select and print all columns in the order of publication
cur.execute('select*from books order by year')

cur.fetchall()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Small Gods', 'Terry Pratchett', 1992),
 ('Small Gods', 'Terry Pratchett', 1992),
 ('Small Gods', 'Terry Pratchett', 1992),
 ('Perdido Street Station', 'China MiÃ©ville', 2000),
 ('Perdido Street Station', 'China MiÃ©ville', 2000),
 ('Perdido Street Station', 'China MiÃ©ville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('Thud!', 'Terry Pratchett', 2005),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007),
 ('The Spellman Files', 'Lisa Lutz', 2007),
 ('The Spellman Files', 'Lisa Lutz', 2007)]

In [10]:
#8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\mayank\anaconda3\lib\site-packages (1.3.20)

In [11]:
import sqlalchemy

conn = sqlalchemy.create_engine('sqlite:///books.db')

for i in (conn.execute('select title from books order by title asc')):
    print(i)

('Perdido Street Station',)
('Perdido Street Station',)
('Perdido Street Station',)
('Small Gods',)
('Small Gods',)
('Small Gods',)
('The Spellman Files',)
('The Spellman Files',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('The Weirdstone of Brisingamen',)
('The Weirdstone of Brisingamen',)
('Thud!',)
('Thud!',)
('Thud!',)

In [12]:
#9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

!pip install redis

Requirement already satisfied: redis in c:\users\mayank\anaconda3\lib\site-packages (3.5.3)

In [ ]:
import redis

conn = redis.Redis(host='localhost', port=8888, db=0)
conn.delete('test')

In [ ]:
conn.hmset('test',{'count':1,'name':'Fester Bestertester'})

In [ ]:
conn.hgetall('test')

In [ ]:
#10. Increment the count field of test and print it.

conn.hincrby('test','count',3)

conn.hget('test','count')